body {
    background-color: whitesmoke;
}

.custom.d-flex.align-items-center.justify-content-center.bg-primary {
    height: 70px;
    font-size: 18px;
    background-color: #5890FF !important;
}

.custom.nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.resize {
    height: 20px;
    width: 20px;
}

.card-button {
    background-color: #fff;
    border-radius: 50%;
    border: 1.5px solid #5890FF;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 35px;
    color: #5890FF;
}

    .card-button:hover {
        background-color: #5890FF;
        color: white;
    }

.card-button-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
}

.card-holder {
    padding: 20px;
}

.custom.card-body {
    background-color: #d0def8;
}

.bi.bi-check {
    height: 20px;
    width: 20px;
}

.custom.card.shadow.bg-white.rounded:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.45) !important;
}

.text-bold {
    font-weight: bold;
}

.custom.card-list li {
    float: left;
}

.custom.nav-item.active a {
    /*background-color: #0b5ed7;*/
    /*color: black !important;*/
    background-color: #7ea6f8;
}

.custom.col-sm-6 {
    border: 1px solid #9ecdf1;
    border-radius: 10px;
    width: 100%;
}

.filters, .buttons {
    margin-top: 2%;
}

    .filters.d-flex.justify-content-between.align-items-center {
        width: 26%;
    }

.clear-filter.btn.btn-primary.rounded-pill.shadow-none {
    line-height: 12.5px;
    font-size: 14px;
    height: 25px;
}

.custom.btn.rounded-pill.shadow-none {
    border: 1.5px solid #ddd8d8;
    color: white;
    width: 120px;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
}

    .custom.btn.rounded-pill.shadow-none:hover, .custom.btn.rounded-pill.shadow-none.active, .custom.add.btn.rounded-pill.shadow-none:hover {
        background-color: whitesmoke !important;
        color: black !important;
        font-size: 14px;
        font-weight: bold;
    }

.custom.add.btn.rounded-pill.shadow-none {
    border: 1.5px solid #ddd8d8;
    font-size: 16px;
    color: white;
    line-height: 15px;
    width: 200px;
}
/*.custom.btn.btn-outline-primary.rounded-pill {
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    width: 120px;
    font-size: 16px;
    box-sizing: border-box;
}
*/
.custom.btn.btn-primary.rounded-pill {
    height: 30px;
    line-height: 15px;
    width: 100px;
    box-sizing: border-box;
}

.bg-color-db {
    background-color: #0a58ca !important;
    color: white;
}

.custom.table-responsive.overflow-auto {
    height: 400px;
}

.custom.controllers.d-flex.justify-content-around, .custom.controllers.d-flex.justify-content-center {
    display: inline-block;
    height: 70px;
    width: 50%;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.10) !important;
    background-image: linear-gradient(#5890FF, #3253ef );
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5% 50%;
    border-bottom-right-radius: 5% 50%;
    margin-bottom: 2%;
}

.custom.input-group.rounded {
    width: 85% !important;
}

.buttons {
    display: inline-block;
}

.search {
    margin-bottom: 2%;
}

.custom.table-light {
    position: sticky;
    top: 0;
}

.custom.form-group {
    display: flex;
    margin-bottom: 10px;
    /*justify-content: s*/
}

.competitor {
    /*margin-left: 42%;*/
    border: 1.5px solid #5890FF;
    font-size: 15px;
    color: black;
    line-height: 15px;
    height: 35px;
    margin-left: 10px;
    width: 20%;
    background-color: white;
}

.select-competitor.custom-select.form-control {
    /*margin-top: 20px;*/
    display: inline-block;
    width: 70% !important;
    height: 35px;
}

/*.bi.bi-x-lg path {
    fill: grey !important;
}

    .bi.bi-x-lg path:hover {
        fill: black !important;
        cursor: pointer;
    }*/

.delete-competitor {
    height: 6px !important;
    width: 6px !important;
    margin-top: 5px;
    float: right;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
}

.loading img {
   width: 200px;
   height: 200px;
   position: absolute;
   top: 40%;
}

.time-input{
    width: 50px;
    height: 25px;
    text-align: center;
}

.complete-competition{
    display: flex;
    justify-content: space-between;
}

.top3 {
    /*display: inline-flex;
    justify-content: center;*/
    margin: auto;
    width: 60%;
    padding: 10px;
}

.medal-img {
    height: 50px;
    width: 50px;
    margin-right: 24%;
}

.medal-container{
    margin-left: 19%;
    width: 100%;
}

.error{
    border: 1px solid red;
}