<div class="custom card-body">
    <h5 class="card-title text-center" data-bind="text: $data.name"></h5>
</div>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="text-bold">Date: </span><span data-bind="text: new Date($data.date).toDateString()"></span></li>
    <li class="list-group-item"><span class="text-bold">Location: </span><span data-bind="text: $data.location"></span></li>
    <li class="list-group-item"><span class="text-bold">Competitors: </span><span data-bind="text: $data.competitorRelations.length"></span></li>
</ul>
<div class="card-button-container">
    <button class="card-button" data-bind="visible: !$data.isFinished, click: () => { $parents[2].completeCompetition($data)}" data-bs-toggle="modal" data-bs-target="#addCompetition">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="resize bi bi-check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </svg>
    </button>
    <button class="card-button" data-bind="click: () => { $parents[2].editCompetition($data)}" data-bs-toggle="modal" data-bs-target="#addCompetition">
        <!--ko ifnot: $data.isFinished-->
        <i class="resize bi bi-pencil"></i>
        <!--/ko-->
        <!--ko if: $data.isFinished-->
        <i class="bi bi-eye"></i>
        <!--/ko-->
    </button>
    <button class="card-button" data-bind="click:()=> $parents[2].deleteCompetition($data.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
        </svg>
    </button>
</div>