<div class="d-flex justify-content-around">
    <div class="container-fluid">
        <div class="custom controllers d-flex justify-content-around">
            <div class="filters d-flex justify-content-between">
                <div>
                    <button type="button" data-bind="click:()=> filterBy(2), css:{'active':filterBy() === 2}" class="custom btn rounded-pill shadow-none">UPCOMING</button>
                    <button type="button" data-bind="click:()=> filterBy(1), css:{'active':filterBy() === 1}" class="custom btn rounded-pill shadow-none">FINISHED</button>
                    <button type="button" data-bind="click:()=> filterBy(0), css:{'active':filterBy() === 0}" class="custom btn rounded-pill shadow-none">ALL</button>
                </div>

            </div>
            <div class="buttons">
               
                    <button data-bind="click:()=> createNewCompetition()" type="button" class="custom add btn rounded-pill shadow-none" data-bs-toggle="modal" data-bs-target="#addCompetition">COMPETITION +</button>
            </div>
        </div>

        <div class="modal fade" id="addCompetition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--ko with: activeCompetition()-->
                    <div class="modal-header">
                        <h5 class="modal-title" data-bind="text: !isFinished() ? status() + ' Competition' : 'Competition'" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form data-bind="template:{name: status() + '-Competition', data: $data}">
                        </form>
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
        <div data-bind="template:{name:'Card', data: {innerTemplate: 'Competition-Card-Content', data: $data.filteredCompetitions } }">
        </div>
    </div>
</div>