<li data-bind="click: () => { $parent.editCompetition($data)}" data-bs-toggle="modal" data-bs-target="#addCompetition">
    <div class="custom card shadow bg-white rounded" style="width: 18rem;">
        <div class="custom card-body">
            <h5 class="card-title text-center" data-bind="text: $data.name"></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-bold">Date: </span><span data-bind="text: $data.date"></span></li>
            <li class="list-group-item"><span class="text-bold">Location: </span><span data-bind="text: $data.location"></span></li>
            <li class="list-group-item"><span class="text-bold">Competitors: </span><span data-bind="text: $data.competitors.length"></span></li>
        </ul>
    </div>
</li>
