<div class="custom card-body">
    <h5 class="card-title text-center" data-bind="text: $data.name"></h5>
</div>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><span class="text-bold">Points: </span><span data-bind="text: $data.points"></span></li>
    <li class="list-group-item"><span class="text-bold">Competitors: </span><span data-bind="text: $data.competitors.length"></span></li>
</ul>

<div class="card-button-container">
    <button class="card-button" data-bind="click: () => { $parents[2].editTeam($data)}" data-bs-toggle="modal" data-bs-target="#addTeam">
        <i class="resize bi bi-pencil"></i>
    </button>
    <button class="card-button" data-bind="click: () => { $parents[2].deleteTeam($data.id)}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
        </svg>
    </button>
</div>