<div class="d-flex justify-content-center">
    <div class="container-fluid">
        <div class="custom controllers d-flex justify-content-center">
            <div class="buttons">
                <div class="search">
                    <div class="custom input-group rounded">
                        <input type="search" id="form1" class="form-control shadow-none" placeholder="Search..." />
                        <button type="button" class="btn bg-color-db shadow-none">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="custom card-list" data-bind="template:{name:'Team-Card', foreach: sortedTeams}">
        </ul>
    </div>
</div>